{% extends 'base.html.twig' %}

{% block title %}
  <title>{{ title }}</title>
{% endblock %}  

{% block body %}

<div class="thanks">
  <div class="flex column center">
    <p class="thank huge">Thank</p>
    <p class="you huge">You</p>
    <p class="reply">You will recieve a reply shortly</p>
    <a href="/demo" class="home" title="home"></a>
  </div>
</div>

{% endblock %}